@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200&display=swap');

@media screen and (max-width: 449px){
    .container {
        height: 100vh;
    }    
 }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --cor0:#D8ABFF;
    --cor1:#8ec5fc; 
    --cor2:#534a6d;
    --cor3:#696968;
}

body {
    align-items: center;
    background-image: linear-gradient(120deg, var(--cor0) 0%, var(--cor1) 100%);
    background-repeat: no-repeat;
    display: flex;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    min-height: 100vh;
}

.container{
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.151);
    padding: 30px;
    width: 450px;
}

.container-title{
    color:var(--cor2);
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.simple-text{
  color: var(--cor3);
  font-size: 1rem;
  font-weight: 300;
  padding-bottom: 5rem;
  padding-top: 10px;
  text-align: center;
}

.input-title{
   color: var(--cor2);
   font-size: 1rem;
   padding-bottom: 2px
}

input{
    border-radius: 4px;
    border: 1px solid rgba(85, 85, 85, 0.151);
    color: var(--cor3);
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

input::placeholder{
    color: #696969b9;
    font-size: 0.9rem;
}

/*this will first erase the shadow/border when you are focusing/selecting the input, then the last line will put a light colored border*/
input:focus-within{
    border: 1px solid var(--cor0);
    outline: 0;
}

button{
    background-color:var(--cor2);
    border-radius: 4px;
    border: 0;
    box-shadow: inset 0 0 0 0 var(--cor0);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px 0;
    transition: ease-out .45s;
    width: 100%;
}

button:focus{
    outline: 0;
}

button:hover{
    box-shadow: inset 390px 0 0 0 var(--cor0);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.check-verification h3{
    color: var(--cor2);
    font-size: 1.25rem;
    margin-top: 3.5rem;
    text-align: center;  
}